doctype html
html
	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		title Webpack app
	body
		div(class="b-head")
			div(class="b-head__logo")
				div(class="b-logo__circle")
					div(class="b-logo__avatar")
			div(class="b-head__name")
				h2 NAME HERE
				h1 SURNAME
				h3 GRAPHIC DESIGNER
		div(class="b-about")
			div(class="b-about__header")
				div(class="b-header__icon")
				div(class="b-header__description")
			div(class="b-about__content")
		div(class="b-about")
			div(class="b-about__header")
				div(class="b-header__icon")
				div(class="b-header__description")
			div(class="b-about__content")
		
				

		