doctype html
html
	head
	meta(charset = 'utf-8')
	link(href="styles.css" rel="stylesheet")
	meta(name='viewport', content="initial-scale=1.0, width=device-width")
	title Webpack app
	body
		div(class="b-fullname")
			div(class="b-fullname__logo")
				div(class="b-fullname__circle")
					div(class="b-fullname__avatar")
			div(class="b-fullname__name")
				h1 Name
				h2 surname
				h3 Graphical Designer